/* [헤더(내비게이션) */
header{
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 10;
}

header div{
    margin-left: 2%;
    padding-right: 2%;
}

header ul{
    float: left;
    align-items: center;
}

header li {
    float: left;
    list-style-type: none;
    padding: 0 30px;
    cursor: pointer;
}

header a {
    color: #00ADB5;
    text-decoration: none;
}

.header-btnbtn{
    display: flex;
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
    header{
        background-color: #393E46;
    }
}
/* 헤더(내비게이션)] */

/* [로그인, 회원가입, 공통 css  */
body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    color: #222831;
}

.sign a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.btn {
    color: white;
    background-color: #00ADB5;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.btn:hover {
    background-color: #007777;
}

/* 공통 스타일 */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}

.form-floating {
    margin-bottom: 10px;
}

.form-floating input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

.form-floating label {
    font-size: 15px;
}

h1 {
    text-align: center;
}

.sign {
    text-align: right;
}

.form-text {
    display: flex;
    align-items: center;
}

.form-floating div {
    display: flex;
}

#floatingResidentFront {
    flex: 5;
}

#floatingResidentBack {
    flex: 1;
}

.form-text {
    text-align: center;
    justify-content: center;
}

#hypen {
    flex: 2;
}

#star {
    flex: 4;
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222831;
        color: #EEEEEE;
    }

    .form-floating input {
        border: 1px solid #666666;
        background-color: #333333;
        color: white;
    }

    .sign a {
        color: white;
    }
}
/* 로그인, 회원가입 css] */

/* [projectList css */
.projects-grid {
    margin-top: 70px; /* 프로젝트 헤더의 높이에 맞춰 조정 */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.projects-inner {
    /* width: 300px; */
    height: 300px;
    color: #333336;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #B7C4CF;
    box-shadow: 5px 5px 5px #606060;
    text-decoration: none;
    cursor: pointer;
}

.projects-inner:hover {
    transform: translateY(-3px) translateX(3px);
}

#project-add{
    position: fixed;
    display: flex;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 70px;
    color: #00ADB5;
    z-index: 9;
}
/* projectList css] */

/* [프로젝트 상세 페이지 */
.project-detail-container {
    margin: 10px;
    margin-top: 100px;
    background-color: #B7C4CF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-detail-inner{
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.project-detail-inner h3 {
    color: #5f9ea0;
}

.project-detail-h3btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    width: 100%;
    height: 50px;
    color: #87ceeb;
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
    .project-detail-container {
        background-color: #364F6B;
    }
    .project-detail-inner{
        background-color: #222831;
    }  
}
/* 프로젝트 상세 페이지(프로젝트 내부)] */