/* 로그인 css  */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    /* 기본 스타일 (화이트 모드) */
    background-color: white;
    color: black;
}

.sign a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .btn {
        background-color: #0056b3;
    }

    .btn-primary:hover {
        background-color: #007bff;
    }

    .form-floating input {
        border: 1px solid #666;
        background-color: #333;
        color: white;
    }

    .sign a {
        color: white;
    }
}

/* 공통 스타일 */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-floating {
    margin-bottom: 10px;
}

.form-floating input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

.form-floating label {
    font-size: 15px;
}

.btn {
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
}

.sign {
    text-align: right;
}
/* 로그인 css  */

/* 회원가입 css */

a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .btn {
        background-color: #0056b3;
    }

    .btn-primary:hover {
        background-color: #007bff;
    }

    .form-floating input {
        border: 1px solid #666;
        background-color: #333;
        color: white;
    }

    a {
        color: white;
    }
}

/* 공통 스타일 */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-floating {
    margin-bottom: 10px;
}

.form-floating input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

.form-floating label {
    font-size: 15px;
}

.btn {
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
}

.sign {
    text-align: right;
}



.form-text {
    display: flex;
    align-items: center;
}

.form-floating div {
    display: flex;
}

#floatingResidentFront {
    flex: 5;
}

#floatingResidentBack {
    flex: 1;
}

.form-text {
    text-align: center;
    justify-content: center;
}

#hypen {
    flex: 2;
}

#star {
    flex: 4;
}

/* 회원가입 css */

/* 프로젝트 생성 페이지 테스트 */

.project-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.project-header {
    text-align: center;
    margin-bottom: 20px;
}

.project-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.project-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.project-button:hover {
    background-color: #4cae4c;
}


.project-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-grid {
    margin-top: 60px; /* 프로젝트 헤더의 높이에 맞춰 조정 */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.project-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

/* 프로젝트 생성 페이지 테스트 */